extends ../../templates/index

block variables
    - var title = 'Promo Components v.0.1'
    - var pageClass = 'theme--dark'

block content
  include ../../blocks/header/header
  include ../../blocks/content/content
  include ../../blocks/footer/footer

