header.header
  .header__wrapper
    nav.main-menu
      .main-menu__wrapper
        ul.main-menu__list
          li.main-menu__item
            a(href="./").main-menu__link Главная
          li.main-menu__item
            a(href="./").main-menu__link Победители
          li.main-menu__item
            a(href="./").main-menu__link Правила
          li.main-menu__item
            a(href="./").main-menu__link Вопросы-ответы
        ul.auth-menu__list
          li.auth-menu__item
            a(href="./").auth-menu__link Вход
          li.auth-menu__item
            a(href="./").auth-menu__link Регистрация


